<!DOCTYPE html>
<html ng-app="VidList" lang="es" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <script src="bootstrap/js/color-modes.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="funciones.js"></script>
    <!-- <script src="./serviciosServer.js"></script> -->
    <script src="bootstrap/js/bootstrap.bundle.js"></script>
    <link href="estilos.css" rel="stylesheet">
    <link rel="icon" href="imagen.png">
    <title>VidList</title>

    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/angular-route/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-sanitize.js"></script>
    <script src="./controllers.js"></script>
</head>

<body ng-controller="PrincipalController">
    <header class="principal mb-4">
        <div class="logo">
            <a href="paginaprincipal.html">
                <img src="imagen-transformed.png" alt="logo" class="logo">
            </a>
        </div>
        <div class="dropdown">

            <button class="btn btn-primary dropdown-toggle" type="button" id="usuarioHeader" data-bs-toggle="dropdown">
                <svg class="bi me-2 bi-person" width="1em" height="1em" fill="currentColor">
                    <use xlink:href="iconos.svg#userIcon"></use>
                </svg>
                {{nombreUsuario}}
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="index.html"
                        onclick="sessionStorage.clear()">
                        <svg class="bi me-2 opacity-50" width="1em" height="1em">
                            <use xlink:href="iconos.svg#logOut"></use>
                        </svg>
                        Cerrar sesión
                    </a>
                </li>

                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
                        <svg class="bi me-2 opacity-50" width="1em" height="1em">
                            <use xlink:href="iconos.svg#sun-fill"></use>
                        </svg>
                        Tema claro
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                        <svg class="bi me-2 opacity-50" width="1em" height="1em">
                            <use xlink:href="iconos.svg#moon-fill"></use>
                        </svg>
                        Tema oscuro
                    </button>
                </li>
            </ul>
        </div>
    </header>


    <main>
        <div class="bg-body-primary">

            <div id="principal"></div>
            <div id="panelCompleto" ng-if="userRole == 'ADMIN_ROLE'">
                <h2 class="my-2 mx-1"> PANELES</h2>
                <div class=" shadow-lg rounded p-3 m-3 bg-body-tertiary" ng-repeat="seccion in seccionesPanel">
                    <h3> PANEL DE {{seccion | uppercase}} </h3>

                    <button
                        class="btn shadow btn-outline-primary m-2 lista{{seccion.charAt(0).toUpperCase() + seccion.slice(1)}}"
                        ng-click="getLista(seccion)" data-bs-toggle="modal" data-bs-target="#1ContenedorModal">Lista de
                        {{seccion}}</button>

                    <button
                        class="btn shadow btn-outline-success m-2 crear{{seccion.charAt(0).toUpperCase() + seccion.slice(1)}}"
                        ng-click="showForm()" data-bs-toggle="modal" data-bs-target="#2ContenedorModal">Crear
                        {{seccion}}</button>

                    <button
                        class="btn shadow btn-outline-warning m-2 modificar{{seccion.charAt(0).toUpperCase() + seccion.slice(1)}}"
                        ng-click="showForm()" data-bs-toggle="modal" data-bs-target="#2ContenedorModal">Modificar
                        {{seccion}}</button>

                    <button
                        class="btn shadow btn-outline-danger m-2 eliminar{{seccion.charAt(0).toUpperCase() + seccion.slice(1)}}"
                        ng-click="showForm()" data-bs-toggle="modal" data-bs-target="#2ContenedorModal">Eliminar
                        {{seccion}}</button>

                    <button
                        class="btn shadow btn-outline-info m-2 buscar{{seccion.charAt(0).toUpperCase() + seccion.slice(1)}}"
                        ng-click="showForm()" data-bs-toggle="modal" data-bs-target="#2ContenedorModal">Buscar
                        {{seccion}} por id</button>
                </div>
            </div>
            <div id="categoriasContenedor">
                <h2 class="my-3 mx-1"> CATEGORÍAS</h2>
                <div id="categorias" ng-repeat="categoria in categorias">
                    <div id="categoria{{categoria._id}}" class="mx-0 my-2 p-2 rounded bg-body-tertiary shadow-lg">
                        <h3>{{ categoria.nombre }}</h3>
                        <div id="contenido{{categoria._id}}" ng-init="loadVideos(categoria._id)"></div>
                        <ul id="paginacion{{categoria._id}}"
                            class="pagination col-md-12 justify-content-end d-flex mt-3 mb-0"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="1ContenedorModal" tabindex="-1">
            <div id="modal-dialog" class="modal-dialog modal-md modal-lg modal-xl">
                <div class="modal-content">

                    <div class="modal-header">
                        <h3 class="modal-title" id="modal-title"></h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div id="contenedor-modal1" class="modal-body pb-5">
                        <div ng-show="spinner" class="spinner-border"></div>
                        <div id="modal-body">

                            <div
                                class="album row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 g-3">
                                <div class="col mb-2" ng-if="!spinner" ng-repeat="producto in productos">
                                    <div compile-html="crearCard(producto,tipoModal,2)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="modal-footer" class="modal-footer d-flex">
                        <div class="col-md-4 justify-content-center d-flex">
                            <nav>
                                <ul id="pagination" class="pagination">

                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-4 justify-content-end d-flex"><button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cerrar</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="2ContenedorModal" tabindex="-2">
            <div id="second-modal-dialog" class="modal-dialog modal-sm modal-md">
                <div class="modal-content">
                    <div class="modal-header col-md-4 justify-content-center d-flex">
                        <h5 class="modal-title" id="second-modal-title"> {{tituloModal}}</h5>
                    </div>
                    <div id="second-modal-body" class="modal-body">

                        <form id="formulario" name="formulario" class="form-group m-auto"
                            ng-submit="submit(formulario)">
                            <div class="form-floating">
                                <div class="form-floating"
                                    ng-if="!id_dada && ( isBuscarUsuarios || isEliminarUsuarios || isModificarUsuarios)">
                                    <input class="form-control" placeholder="" type="text" required="true" name="uid"
                                        id="uid" ng-model="form.uid"
                                        ng-if="isBuscarUsuarios || isEliminarUsuarios || isModificarUsuarios">
                                    <label for="uid">uid</label>
                                </div>
                                <div class="form-floating"
                                    ng-if="!id_dadas && (isBuscarCategorias || isEliminarCategorias || isModificarCategorias || isBuscarVideos || isEliminarVideos || isModificarVideos)">
                                    <input class="form-control" placeholder="" type="text" required="true" name="id"
                                        id="id" ng-model="form.id"
                                        ng-if="isBuscarCategorias || isEliminarCategorias || isModificarCategorias || isBuscarVideos || isEliminarVideos || isModificarVideos">
                                    <label for="id">id</label>
                                </div>
                                <div class="form-floating"
                                    ng-if="id_dadas && (isEliminarVideos || isEliminarUsuarios || isEliminarCategorias)">
                                    <h5>Vas a
                                        eliminar a
                                        este objeto. Si estas seguro de ello, pulsa confirmar</h5>
                                </div>
                                <div class="form-floating"
                                    ng-if="isCrearCategorias || isCrearUsuarios || isCrearVideos || isModificarCategorias || isModificarVideos || isModificarUsuarios">
                                    <input type="text" class="form-control" placeholder="" required="true" name="Nombre"
                                        id="Nombre" ng-model="form.Nombre">
                                    <label for="Nombre">Nombre</label>
                                </div>
                                <div class="form-floating" ng-if="isCrearUsuarios || isModificarUsuarios">
                                    <input type="email" class="form-control" placeholder="" required="true"
                                        name="Correo" id="Correo" ng-model="form.Correo">
                                    <label for="Correo">Correo</label>
                                </div>
                                <div class="form-floating" ng-if="isCrearVideos || isModificarVideos">
                                    <input type="url" class="form-control" placeholder="" required="true" name="url"
                                        id="url" ng-model="form.url">
                                    <label for="url">url</label>
                                </div>
                                <div class="form-floating" ng-if="isCrearVideos || isModificarVideos">
                                    <select id="" class="form-select form-control my-0" ng-model="form.id_categoria"
                                        ng-options="categoria._id as categoria.nombre for categoria in categorias">
                                        <option class="dropdown-item" value="">Seleccione una categoría</option>
                                    </select>
                                    <label for="Categorias" class="my-0">Categorias</label>
                                </div>
                                <div class="form-floating" ng-if="isCrearUsuarios || isModificarUsuarios">
                                    <input type="password" class="form-control" placeholder="" required="true"
                                        name="Password" id="Password" ng-model="form.Password">
                                    <label for="Password">Contraseña</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary w-100 py-2 my-3"> Confirmar
                            </button>
                        </form>
                        <div id="historialBusqueda"
                            class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4 g-2">
                        </div>

                    </div>
                    <div id="second-modal-footer" class="modal-footer">
                        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target={{destinoModal}}
                            data-bs-dismiss="modal">Cerrar</button>
                        <!-- <button class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#1ContenedorModal" data-bs-dismiss="modal">Cerrar</button> -->
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="d-flex flex-wrap justify-content-between py-3 my-4 border-top">

        <div class="col-md-4 px-2 d-flex align-items-start">

            <span class="mb-3 mb-md-0 text-body-secondary">&copy; Realizado por Juan Pedro Pérez Nieto, 2024</span>
        </div>

        <ul class="nav col-md-4 px-2 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="mailto:jpedro.perez@edu.upct.es">
                    <svg width="24" height="24">
                        <use xlink:href="iconos.svg#outlook"></use>
                    </svg></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="https://github.com/JusTroPitt/VidList_Angular">
                    <svg width="24" height="24">
                        <use xlink:href="iconos.svg#github"></use>
                    </svg></a></li>
        </ul>
    </footer>
</body>

</html>